<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://addons.opera.com/addons/extensions/details/pravilny-stsiag/" version="1.3.1">
  <name short="Sciah">Правільны сцяг</name>
  <access origin="*"/>
  <icon src="img/icon-16.png"/>
  <icon src="img/icon-64.png"/>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/676ee627-737c-487b-b970-e719d7d73a45/"/>
  <license>
  Copyright 2012 SpShut

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
</license>
  <author href="http://my.opera.com/SpShut/" email="sp.shut@gmail.com">SpShut</author>
  <description>На пэўных сайтах замяняе значкі з чырвона-зялёным сцягам на бел-чырвона-белы нябесны вольны смелы.
&#13;
Паведамляйце пра сайты, дзе патрэбна выправіць сцяг тут: http://my.opera.com/SpShut/blog/extension-correct-flag
&#13;
***Калі вас цалкам задавальняе савецкі сцяг то не ўстлёўвайце гэта пашырэнне і не вякайце ў каментарах***</description>
</widget>
